<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Document</title>
</head>
<body>
  <%- include("title") %>
  <%- include("link", { linkedText: linkText, route: route}) %>
  <div class="details-container">
    <div class="details">
      <h2><%= message.user %></h2>
      <p><%= message.text %></p>
      <b><%= message.date %></b>
      <a class="details-button" href="/">Back</a>
    </div>
  </div>
</body>
</html>